
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Colours */

/* 1 */
:root {
  --dark: rgb(43, 0, 71);
  --light: rgb(235, 217, 255);
  --font-color: #333;
  --link-color: cornflowerblue;
}

#light {
  background-color: var(--light);
}

#dark {
  background-color: var(--dark);
}

.light-text {
  color: white;
}

.dark-text {
  color: black;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
}

a, button {
    cursor: pointer;
    text-decoration: none;
}

.home-text {
  text-align: center;
}

.home h1 {
  margin-top: -6rem;
}

.home img {
  margin-top: 1rem;
  width: 60%;
  max-width: 400px;
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 2s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}


.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

header {
  background-color: black;
  color: white;
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header img {
  width: 50px;
  height: 50px;
  margin-right: 0.25rem;
}

header h1 {
  margin: 0;
  font-size: 35px;
  color: white;
}

.welcome-button {
  background-color: transparent;
  border: 1px solid var(--dark);
  border-radius: 10px;
  padding: 0.5rem;
  color: var(--dark);
  font-size: 20px;
}

.welcome-button:hover {
  background-color: var(--dark);
  color: white;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  width: 100%;
  height: 100%;
}

.task-details {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 0.5rem;
  margin: 0.5rem 0;
  width: 100%;
}

.task-details h4 {
  margin : 0
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.transparent-button {
  background: none;
  border: none;
  cursor: pointer;
}

.loading-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 5rem;
}

.loading-image {
  width: 200px;
  max-width: 50%;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.add-new-task-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 50px;
  border-radius: 50%;
  background-color: white;
  padding: 0.5rem;
}

.message-area {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

/* Toggle Switch */

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 30px;
}
.toggle-switch input[type="checkbox"] {
  display: none;
}
.toggle-switch .switch {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}
.toggle-switch .switch::before {
  position: absolute;
  content: "";
  left: 2px;
  top: 2px;
  width: 26px;
  height: 26px;
  background-color: #aaa;
  border-radius: 50%;
  transition: transform 0.3s ease;
  background-size: cover;
  background-image: url(https://img.icons8.com/ios-glyphs/2x/sun.png);
}

.toggle-switch input[type="checkbox"]:checked + .switch::before {
  transform: translateX(25px);
  background-color: #6699cc;
  background-size: cover;
  background-image: url(https://img.icons8.com/sf-ultralight-filled/2x/moon-symbol.png);
}
.toggle-switch input[type="checkbox"]:checked + .switch {
  background-color: #336699;
}